/* .img_class{
   margin-left: 3%;
   height: 8%;
   width: 8%;
   margin-top: 1%;
} */

.footer{
   /* margin-top: 220px; */
   position: fixed;
   bottom: 0%;
   background-color:#214e8f;
   width: 100%;
   display: inline;  
}
.txt{
   margin-left: 1%;
   margin-top: 3%;
}
