.container-fluid
{
    width:70%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 20px;
}

input{
    width: 30%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 40%;
}

.hr{
    border-color:black;
    border-style: solid;
}
#btn_signup{
    margin-left: 50%;
}

.input_male{
    margin-left: 25%;
}

.lbl_male{
    margin-left: -180px;
}