<app-header></app-header>
<div class = "form-group">
  <div class="javaerror" style="background-color: #ef0606;">
  </div>
  <div class="javasuccess" style="background-color: #0bbd4c;">
  </div>
  </div>  
<div ng-app = "myApp" class = "container-fluid" id="container_signup">   
    <div class="row">
      <div class="div_class">
        <form #loginform="ngForm" (ngSubmit)="userSignup()">
            
        <div class = "form-group my-4">
          <input type = "text" id = "name" class = "form-control" placeholder = "*First Name " name="firstName" [(ngModel)] ="user.firstName">
        </div>
        <div class = "form-group my-4">
          <input type = "text" id = "Lname" class = "form-control" placeholder = "*Last Name " name="lastName" [(ngModel)] ="user.lastName">
        </div>
        <div class = "form-group my-4">
          <input type = "text" id = "Mname" class = "form-control" placeholder = "Middle Name " name="middleName" [(ngModel)] ="user.middleName">
        </div>
        <div class = "form-group my-4">
          <input type = "email" id = "email" class = "form-control" placeholder = "*Email" name="email" [(ngModel)] = "user.email">
        </div>
        <div class = "form-group my-4">
          <input type = "text" id = "phone" class = "form-control" placeholder = "*phone" name="phoneNumber" [(ngModel)] = "user.phoneNumber">
        </div>
        <div class = "form-group my-4">
          <input type = "text" id = "Address" class = "form-control" placeholder = "*Address" name="address" [(ngModel)] = "user.address">
        </div>
        <div class = "form-group my-4">
          <input type = "date" class="form-control" id="dateOfBirth" [(ngModel)]="user.dateOfBirth" name="dateOfBirth">
        </div>
        <div class="form-group my-4"> 
          <select class="form-control" name="gender" [(ngModel)] ="user.gender">
            <option value=" " selected>--Select Gender --</option> 
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option></select>
        </div>
        <div class = "form-group my-4p">
          <input type = "password" id = "password" class = "form-control" placeholder = "*password" name="password" [(ngModel)] ="user.password">
        </div>
        <br>
        <button type="submit" id="btn_signup">SignUp</button>
        <div class="text-center">
          <a href="/">Login</a>, if you have account 
        </div> 
       <br>       
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
