#desc_container{
    border: black;
    border-style: outset;
    box-shadow: 1px 1px 1px black;
}

#btn_logout{
    position: fixed;
    right: 0%;
}
.alingclass{

    margin-left: 15%;

}
#mktrans{
    text-align : right;
}