<html>
  <br>
  <app-header></app-header>
  <hr>

  <div class="form-check form-check-inline alingclass">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Current Accout</label>
  </div>
  <div class="form-check form-check-inline alingclass">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Savings Account</label>
  </div>
  <div class="form-check form-check-inline alingclass">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled checked>
    <label class="form-check-label" for="inlineCheckbox3">(disabled)</label>
  </div>

    <div class="container">
        <div class="card shadow mt-5 mb-5">
            <div class="card-header text-center">
                <b>Account Details</b>
            </div>
            <div class="card-body"> 
                <p *ngIf="user.firstName">{{user.firstName}} {{user.lastName}} {{user.middleName}}</p>
                <p *ngIf="account._id">Account No : {{account._id}}</p>
                <p *ngIf="account.type">{{account.type}} Account</p>
                <p *ngIf="account.balance.amount">Closing Balance : {{account.balance.amount}}</p>
            </div>
        </div>
        <div class="card shadow mt-5 mb-5">
            <div class="card-body">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Ref Number</th>
                        <th scope="col">Date</th>
                        <th scope="col">Withdrawal</th>
                        <th scope="col">Deposit</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let transaction of account.transaction; let transactionDet=index" id="transaction">
                      <tr>
                        <td>{{transaction._id}}</td>
                        <td>{{transaction.createdAt}}</td>

                        <td>{{transaction.type =="DEBIT" ? transaction.amount : ""}}</td>
                        <td>{{transaction.type =="CREDIT" ? transaction.amount : ""}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><button class="page-link" (click)="previousTransaction()">Previous</button></li>
                      <li class="page-item"><button class="page-link" (click)="nextTransaction()">Next</button></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
<app-footer></app-footer>
</html>
